
body {
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    background-image: url('img/desert.png');
    background-size: cover;
    background-position: center;
}

/* 🎮 GAME WRAPPER */
#gameContainer {
    position: relative;
    width: 720px;
    height: 480px;
}

/* 🖤 CANVAS */
canvas {
    background-color: black;
    display: block;
}

/* 🟡 STARTSCREEN */
#startScreen {
    position: absolute;
    top: 0;
    left: 0;

    width: 720px;
    height: 480px;

    background: rgba(40, 35, 30, 0.88);
    color: rgb(230, 200, 60);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 10;

    font-family: Arial;

    border-radius: 12px;
}

/* 🎮 BUTTON */
#startScreen button {
    padding: 12px 28px;
    font-size: 20px;

    cursor: pointer;

    border: none;
    border-radius: 8px;

    background-color: #e6c200;
    color: black;

    font-weight: bold;
    font-family: "Rubik Gemstones", system-ui;
    transition: 0.2s;
}

#startScreen button:hover {
    background-color: #ffdb4d;
    transform: scale(1.05);
}

/* 🧠 TITLE FONT */
h1 {
    font-family: "Rubik Gemstones", system-ui;
    font-size: 60px;
}